<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/mirkmissen/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="mirkmissen" />
      <add key="ClearTextPassword" value="g+6x5j/k7AunYYHgzKXHfGmwWyBRxLFIoRWzPjJaF6/AWfOeoy2huQwPW8AdAQkO"/>
    </github>
  </packageSourceCredentials>
</configuration>